<launch>
 	<master auto="start"/>
	<!--Run Move_Base-->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">

  	<!--Load general parameters-->
    	<rosparam file="$(find triskar_navigation)/params/move_base_general_params.yaml" command="load" /> 

	<!--Load global planner parameters-->
  	<rosparam file="$(find triskar_navigation)/params/global_planner/global_planner_params.yaml" command="load" />

	<!--Load local planner parameters-->
	<rosparam file="$(find triskar_navigation)/params/local_planner/dwa_local_planner_params.yaml" command="load" />
	<!--<rosparam file="$(find triskar_navigation)/params/local_planner/base_local_planner_params.yaml" command="load" />-->

	<!--Load recovery behaviours parameters-->
	<rosparam file="$(find triskar_navigation)/params/recovery_behaviours/clear_costmaps_params.yaml" command="load" />
	<rosparam file="$(find triskar_navigation)/params/recovery_behaviours/rotate_recovery_params.yaml" command="load" />

	<!--Load costmaps  parameters-->
	<rosparam file="$(find triskar_navigation)/params/costmaps/costmap_common_params.yaml" command="load" ns="local_costmap"/>
        <rosparam file="$(find triskar_navigation)/params/costmaps/costmap_common_params.yaml" command="load" ns="global_costmap"/>

	<!--Load local costmap  parameters-->
	<rosparam file="$(find triskar_navigation)/params/costmaps/local_costmap_params.yaml" command="load"/>
        <rosparam file="$(find triskar_navigation)/params/costmaps/local_costmap_params.yaml" command="load"/>

	<!--Load global costmap  parameters-->
	<rosparam file="$(find triskar_navigation)/params/costmaps/global_costmap_params.yaml" command="load" /> 

	<!-- remap cmd_vel on different topic (see joystick node)-->
	<remap from="/cmd_vel" to="/move_base/published_cmd_vel"/>	
    </node>          
</launch>
