<launch>
	<master auto="start"/>
	
	<!-- Run the map server -->

	<node name="map_server" pkg="map_server" type="map_server" args="$(find triskar)/config/airlab_theatre_new.yaml" />

	
	<!-- Run AMCL -->
	<include file="$(find triskar_navigation)/launch/amcl_standard.launch" />

	<!--Move Base-->
	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	
		<!--Load general parameters-->
	    <rosparam file="$(find triskar_navigation)/config/move_base_general_params.yaml" command="load" />                     
		
		<!--Load global planner parameters-->
  		<rosparam file="$(find triskar_navigation)/config/navfn_params.yaml" command="load" />                                 
		
		<!--Load local planner parameters-->
		<rosparam file="$(find triskar_navigation)/config/base_local_planner_params.yaml" command="load" />
		
		<!--Load costmap common parameters-->
		<rosparam file="$(find triskar_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />    
		
		<!--Load global costmap  parameters-->
		<rosparam file="$(find triskar_navigation)/config/global_costmap_params.yaml" command="load" />                      
		
		<!--Load local costmap  parameters-->
		<rosparam file="$(find triskar_navigation)/config/local_costmap_params.yaml" command="load" />
		
	

	</node>
	
</launch>
