<launch>
	<master auto="start"/>
	
	<!-- Run Map Server -->
	<include file="$(find triskar_navigation)/launch/map_server.launch" />
	
	<!-- Run AMCL -->
	<include file="$(find triskar_navigation)/launch/amcl.launch" />

	<!--Run Move_Base-->
        <include file="$(find triskar_navigation)/launch/move_base.launch" />
	
	
</launch>
