<launch>
	<node pkg="eyes_manager" type="main.py" name="eyes_manager" output="screen"> </node>
	<node pkg="body_manager" type="main.py" name="body_manager" output="screen"> </node>
	<node pkg="rosserial_python" type="serial_node.py" name="$(anon serial_node)" output="screen" respawn="true" >
    		<param name="~port" value="/dev/ttyACM0" />
    		<param name="~baud" value="57600" />
  	</node>

</launch>
