<launch>
	<!--TBD check what this does-->
	<arg name="teleop" default="1" />
	<arg name="record" default="1" />
	<arg name="laser" default="1" />
	
	<!-- rosserial launch file for nova core -->
	<include file="$(find rosserial_core)/launch/serial_node.launch"> 
		<arg name="port" value="/dev/novaCore" />   
	</include>  

	<!-- Joystick node -->
	<include file="$(find joystick)/launch/joystick.launch"/>
	
	<!--Odometry node-->
	<node pkg="odometry_publisher" type="odometry_publisher" name="odometry_publisher"/>
	
	<!--Hokuyo Laser nodes-->
	<include file="$(find triskar)/launch/hokuyo_nodes.launch"/>
	
	<!-- Merges the two lasers-->
	<include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch"/>
	
	<!--Arduino nodes-->
	<include file="$(find triskar)/launch/arduino.launch"/>
	
	<!--Audio nodes-->
	<include file="$(find triskar)/launch/audio.launch"/>
	
</launch> 
